* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



body {
    font-family: Arial, sans-serif;

}

header {
    background-color: #333;
    color: white;
    padding: 1rem; 
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    text-decoration: underline; 
}

.content-wrapper {
    display: flex; 
    width: 100%;
}

main {
    flex: 2;
    background-color: #ccc;
    padding: 1rem; 
}
aside {
    flex: 1;
    background-color: white;
    padding: 1rem; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem; 
}
